
# or openai
EMBEDDING_MODEL_PRESET=self-hosted-openai 

OPENAI_API_KEY=your_openai_api_key_here
EMBEDDINGS_API_KEY=EMPTY
EMBEDDINGS_ORGANIZATION=
EMBEDDINGS_DIMENSIONS=

EMBEDDINGS_BASE_URL=http://localhost:8000/v1
EMBEDDINGS_MODEL=Qwen/Qwen3-Embedding-8B

LLM_API_KEY=EMPTY
LLM_BASE_URL=http://localhost:8000/v1
LLM_MODEL=Qwen/Qwen2.5-Coder-7B-Instruct
